<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ascii coffee status</title>
    <style>
html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.body, body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body.true {
    background: #27ae60;
}
.body.false {
    background: #c0392b;
}
* {
    box-sizing: content-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 0.5rem;
}
.status-icon {
    font-size: 10rem;
}
.status-text {
    font-size: 1.5rem;
    padding: 0.5rem 0 2rem;
}
.current-table {
    width: 100%;
}
.current-table table {
    width: 100%;
}

@media screen and (max-width: 20rem) {
    .container {
        width: 100%;
    }
}
    </style>
    <script>
         window.addEventListener('load', () => {
            setInterval(async () => {
                let req = await fetch("/body");
                let text = await req.text();

                document.body.innerHTML = text;
            }, 1000);
         });
    </script>
</head>

<body>
<%- include('./body'); %>
</body>

</html>
