* {
  box-sizing: content-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.body,
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body.on {
  background: #27ae60;
}
#body.off {
  background: #c0392b;
}
#body.startup {
  background: #1abc9c;
}
#body.shutdown {
  background: #d35400;
}
#body.unknown {
  background: #2c3e50;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 0.5rem;
}

.status-icon {
  font-size: 10rem;
}

.status-message {
  font-size: 1.5rem;
  padding: 0.5rem 0 2rem;
}

.data-frame {
  width: 100%;
}
.data-frame table {
  width: 100%;
}

.enable-notifications {
  margin-top: 0.6rem;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  user-select: none;
}
.enable-notifications:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.links {
  margin-top: 1rem;
}
.links span {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 0.2rem;
}
.links a {
  color: white;
}
.links table {
  width: 100%;
}

@media screen and (max-width: 20rem) {
  .container {
    width: 100%;
  }
}
